.about-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.about-title {
    text-align: center;
    color: #007BFF;
}

.about-subtitle {
    text-align: center;
    margin-top: 20px;
}
#blit{
    background: linear-gradient(to bottom, #ff7e5f, rgba(0, 0, 0, 0.8), black);
}
