
* {
    margin: 0px;
    padding: 0px;
   
  
}
.container{
   display: flex;
   justify-content: center;
   flex-wrap:wrap;
   gap: 3;
  width: 100%;
}
.products{
    background: linear-gradient(to bottom, #ff7e5f, rgba(0, 0, 0, 0.8), black);
}
#bot{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    padding-top: 10px ;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
}
.cont{
    background-color: rgb(29, 26, 26);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bot :hover{
    color: yellow;
}